<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">

	<bean id="blogConfiguration" class="com.lsj.util.Configuration">
		<property name="username" value="root" />
		<property name="password" value="root123" />
		<property name="urlButtons">
			<list>
				<bean class="com.lsj.util.UrlButton">
					<property name="name" value="主页" />
					<property name="url" value="/springmdblog/pad.do" />
				</bean>
				<bean class="com.lsj.util.UrlButton">
					<property name="name" value="目录" />
					<property name="url" value="/springmdblog/dir.do?dir=/" />
				</bean>
				<bean class="com.lsj.util.UrlButton">
					<property name="name" value="上传" />
					<property name="url" value="/springmdblog/uploadview.do" />
				</bean>
				<bean class="com.lsj.util.UrlButton">
					<property name="name" value="关于我" />
					<property name="url" value="/springmdblog/md.do?md=Me" />
				</bean>
				<bean class="com.lsj.util.UrlButton">
					<property name="name" value="GitHub" />
					<property name="url" value="https://github.com/lsj9383" />
				</bean>
			</list>
		</property>
	</bean>

</beans>
