<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
	http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd">

	<context:annotation-config/>
	<context:component-scan base-package="com.lsj.mvc.controller"></context:component-scan>
	
	<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name = "viewClass" value = "org.springframework.web.servlet.view.JstlView"></property>
		<property name = "prefix" value = "/WEB-INF/jsp/"></property>
		<property name = "suffix" value = ".jsp"></property>
	</bean>
	
	 <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">  
        <property name="defaultEncoding" value="utf-8"></property>   
        <property name="maxUploadSize" value="10485760000"></property>  
        <property name="maxInMemorySize" value="40960"></property>  
   </bean>
   
   <mvc:interceptors>
   		<mvc:interceptor>
   			<mvc:mapping path="/*.do"/>
   			<bean class="com.lsj.interceptor.PreprocessInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/*.do"/>
   			<bean class="com.lsj.interceptor.LogInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/dir.do"/>
   			<mvc:mapping path="/uploadview.do"/>
   			<mvc:mapping path="/delete.do"/>
   			<mvc:mapping path="/download.do"/>
   			<bean class="com.lsj.interceptor.AccessInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/pad.do"/>
   			<bean class="com.lsj.interceptor.PadInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/md.do"/>
   			<bean class="com.lsj.interceptor.MarkdownInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/download.do"/>
   			<bean class="com.lsj.interceptor.DownloadInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/delete.do"/>
   			<bean class="com.lsj.interceptor.DeleteInterceptor"/>
   		</mvc:interceptor>
   		
   		<mvc:interceptor>
   			<mvc:mapping path="/dir.do"/>
   			<bean class="com.lsj.interceptor.DirInterceptor"/>
   		</mvc:interceptor>
   </mvc:interceptors>
	
</beans>